
.navbar-brand>img {
  float: left;  
  height: 100%;
  width: auto;
}

.content {
  padding: 100px 0 0 0;
}

.sponsors>li>img {
  height: 80px;
  width: auto;
}

.page-content ul {
  font-size: 14pt;
  
}

.page-content p {
  margin-bottom: 10px;
  font-size: 14pt;
}
